<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.name %>
  </p>

  <div class="au_tem">
    <strong>Click here to play:</strong>
    <%= audio_tag(song.mp3, controls: true, class: "audio_song") %>
  </div>
</div>

<style type="text/css">
  .audio_song{
    background-image: url('/assets/music-1.jpg');
    background: lightblue;
    padding-top: 248px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .au_tem{
    background-image: url('/assets/music-1.jpg');
  }
</style>
