<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= song.filename %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist_id %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album_id %>
  </p>

</div>
